# Основные домены
dz-tracker.ru {
    reverse_proxy host.docker.internal:3001
}

uchim-stihi.ru {
    reverse_proxy host.docker.internal:3000
}

# Субдомены DMDP
excel2md.dmdp.ru {
    reverse_proxy host.docker.internal:3002
}

netwalkgame.dmdp.ru {
    reverse_proxy host.docker.internal:3003
}

gift-planner.dmdp.ru {
    reverse_proxy host.docker.internal:3004
}

projects.dmdp.ru {
    reverse_proxy host.docker.internal:3005
}
