# Основные домены
dz-tracker.ru {
    reverse_proxy studyflow:80
}

uchim-stihi.ru {
    reverse_proxy learn-poetry:3000
}

# Субдомены DMDP
excel2md.dmdp.ru {
    reverse_proxy excel2md-nginx:80
}

netwalkgame.dmdp.ru {
    reverse_proxy netwalk-game:80
}

gift-planner.dmdp.ru {
    reverse_proxy gift-planner:80
}

projects.dmdp.ru {
    reverse_proxy projects-placeholder:80
}
